<main id="app-container">
        
    <!-- 内容区域顶部的控制 start -->
    <div class="film-controls">
        <div class="film-controls__city">北京</div>
        <div class="film-controls__types">
            <div data-type="now" class="film-controls__type-item ">正在热映</div>
            <div data-type="coming" class="film-controls__type-item active">即将上映</div>
        </div>
        <div class="film-controls__search"><i class="icon icon-wode-copy"></i></div>
    </div>
    <!-- 内容区域顶部的控制 end -->
    
    <div class="app-index-view"></div>
    
</main>