
/* 内容顶部控制区域 */

.film-controls {
    width: 100%; height: 1.2rem;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    align-items: center;
    font-size: .4rem;
    position: relative;
}

.film-controls:after {
    content:  '';
    display: block; width: 100%; 
    height: 1px; transform: scale(1, 0.5);
    position: absolute;
    bottom: 0; left: 0;
    background: #eeeeee;
}

.film-controls__types {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 5.546667rem;
    height: 100%;
}
.film-controls__type-item {
    flex-grow: 1;flex-shrink: 1;
    display: flex; justify-content: center;align-items: center;
    font-weight: 700; color: #666;
    height: 100%;
    margin: 0px 12px;
    border-bottom: 2px solid transparent;
}
.film-controls__type-item.active {
    border-color: #E54847;
    color: #E54847;
}
.film-controls__city { color: #666; }
.film-controls__search i{ color: #E54847; font-size: 24px; font-weight: bolder; }

/* 内容影片列表 */
.film-list {
    /* height: 300px;  */
    background: #fff;
    padding: 0 .4rem;
}
.film-list__item {
    width: 100%;
    height: 3.04rem;
    padding: .32rem .373333rem;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.film-list__item-img {
    width: 1.706667rem; height: 2.4rem; display: block;
}
.film-list__btn {
    width: 1.253333rem; height: .72rem;
    text-align: center; line-height: .72rem;
    color: #fff;
    border-radius: 5px;
    font-size: .293333rem;
    display: none;
}
.film-list__btn.active { display: block; }
.film-list__btn--buy { background: #f03d37; }
.film-list__btn--pre { background: #3c9fe6; }

.film-list__item-info {
    width: 5.466667rem;margin-left: .266667rem; height: 100%;
    font-size: 13px; color: #666;
    /* background: */
}

.film-list__item-title {
    display: flex; align-items: center;
    margin-bottom: .186667rem;
}
.film-list__item-title h1 {
    margin: 0; font-size: 17px; font-weight: 700;
}

.film-list__item-desc-img.max {
    display: block; height: .373333rem;
    width: 1.146667rem;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFYAAAAcCAYAAAD7lUj9AAAAAXNSR0IArs4c6QAABqJJREFUaAXtWmlMVFcUPrMCMjigDCM6CkpRiqDWfW2sodpi2mpImjZN1ajdTJrYP60/2vRXTZp0t2l/dYmJtWqtTdxSBRXXigpYFUU2hWGQdUB2mKXnu/Kmj8dsFIhtnZNMuO++e8+997tn+c4wKmLJ2pk/1+1y7He7yeImtxp9IRkcAnqNuoln5Ljdunf2rZ9VrQKoLqfj4sMG9MCG+YM7yb9stL2zl06UNvTuvWprc7u06VphqSErHfI1xUToKCs9XseKDHsLqz9Xw/2HrDWkwIPAisdidSqVKkP9sEOAZ0f/kwYst9vhjAklqhG60BCwIWBHCIERUqsNpFerVhEHZEocM4qcLjdVNHXQ6fJGcnAbkhJnoCn8ThJ017Z1k7W5k+rbe6TuIf3N5fVcnGWfSooVek6WNVBnr4vmT4ym2Ei9T905pQ0c71y0KCGGEPvkUtPaTQXVLWQM19KSxDHyV1TS0C4+E43hlB4/ut+7HqeLsksaiGGhp6eaSKPihhfxCywW3Z6ZSuNHh/NBnEKJXqumtWnx9N7hIurgvgWTYmgNP3uTQlsLfXOuYsgA77tqIxxIAnZ3QTXVi8sz0+sLE7wtLYD5+my5eJcQEzEA2F/+tNGJknrSMEJp40YLgCVFcYYw+ij7NnXxpXzxQhqNiwqTXtHOy1V0+GYtZc0Y7xNUDPYbY19bmChA/fZ8Ba3/OZ/W8efAtRqyREfQc9PHeRZD4/2jN+mVn67Qxj0FtI1Bx8anm6Po0+fTKCrM7/310zOYB1huR4/T65RDRfe89qMTgJ2/0yTOBi88yZYtFxjUliWTkd3pK76cB75JdP1eKx25VUdJYyPp5ScmyKcMaPsEFqaeym5e0tBGx27XU6/TLdzqaHGtUBIvu0V0wKJxSFQgxfVttCvfSp/klgpQA21iwK6C6ICldfGax9nqlII9nL9jF9aofIfnsxWNYu6GeZMonr0xp3SgDoSZjGQT3axtpYM37onL2HGunPQaFW19MsmvtWINn8AiVm7cW0jvHirCOI/MjDeKdhEvGEjyKpvprr1DhItAYwf73hQZRlNNBjrCbtkX7j0qjrJVOTkmL1bETmlANl+GMVxHsy1GWs5xG/kAxqCUTQsSyMwGtKvASp/lllEdx+V1cyeRhWNvIPEJrHLiZl7k49Wp9MaiBPrteg3BDYMRa0sXjRml55sOeqlg1Ioxqx83Ux3H2rxKu2cOPOv34jqayUnHYozw9EsN7Ke4ro2WTRkrrA7AQrLZK5USzvlk67IkcrDOS1V2vohoykyJUw7z+hz0aeMMepGB1ZwFARLYQjDS3u0QwwxhmmCGD2oMLDKGL+2gLJ6eZje/39VLq1PNXnXBWiESoDhXKueCcxxzEXuVEs1sQtdnFCY/DEQ5L2hgt+eU0CYODV+eKadMtpQXZ/oP3tJCJs6wPbzhpo5eqWvY/uJyVzHlQVgqZxoIOcwgI27OYetSCsJDLntapF5LdzhEgY7hY2TwkCMArlwQYnBeMBLQTXhCPlO0YMQnsKAYby1KpKWT+3O8M8wpmzk5zOPgHkgMeg1NjY0ka0tnoKH/+P2qaXHCosACbnDWBs/OTDGTN3+6XNUs9t7e4yBQMelzoQ/QHEUi/PWajW7VtRJCzgcZ0yiS2c0Onne/zwv9bdonD2phd8pga5jLAIKaSAkCwRx0xHa/y59eitCp6c3Fk8Vm9jFdGymBqyIknK1oolpOLhE6Da1IfhA3lWsiDCCU7Vibzry2f2GBjA+AcS7w9rLGDtpTaBPtV+dYRPjbPD+BLbhMcPNtK5KV6vs9+wQWlc0xNv1n+PY/XJlCp9iFUOWApPPXYoIkyzXhEuzs7iggYO0g3Tg0DvPH3b+Ti3zOcLVhUXBxhASEqVEMrlJAwVBppXFSA3BKQXUJYLHfl2ZZBICo9t5eOsWTeJcnjaULd5voIifL45zsUHn5Ep/AYsJ3eZXCUldOM9GMvtIOYQAuBCuWy7N8ARAQbpS04L+ISVeswcUkua7BtpM53IB6oRQFyN6Ev90XewM43mT2hGhBwU6VNTJfd1MVUzBUlCjZ5bKFvfAWs4rvL1WKcldelcnHqdb8wP+VCSAgxeaocEGqh6v+Vy75X//XjPw8a3/MI78WKw3uYR6HGwxJ8Aj4ZAXBqwiN9IZACFhvqAxDH1Ns1cByYxgUP6oqwD7CtBo7aJ31UQVhJM6N3xa43e5stUqtzQpZ7dAhhqXuv1bz4Acb/GsYUfmFfmI0dGDh/rBU6SdGfwHhesSi+VnXOAAAAABJRU5ErkJggg==) no-repeat;
    background-size: 100% 100%;
    margin-left: 5px;
}
.film-list__item-grade {
    margin-top: 0px;
}
.film-list__item-grade span {
    font-weight: 700;
    color: #faaf00;
    font-size: 15px;
}
.film-list__item-grade, .film-list__item-actor, .film-list__item-count {
    margin-top: .106667rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
